.calendar {
    width: 100%;
    min-width: 320px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

a[class^='date-'] {
    height: 15vh;
    min-width: 13%;
    text-align: center;
    line-height: 15vh;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
}

a[class*='date-']:focus {
    transform: scale(1.5);
    transition: 1s;
    z-index: 2;
}

a[class^='date-']:hover {
    filter: invert(60%);
    z-index: 1;
}

a[class$='-grey'] {
    background-color: grey;
}

a[class$='-thisMonth'] {
    background-color: ivory;
}

a[class$='-current'] {
    background-color: #c6a;
}

a[class*='Sun'], a[class*='Sat'] {
    background-color: #b73;
}

