/*Board styles*/
body {
    background-color: forestgreen;
    counter-reset: number 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

ul {
    height: 10vmin;
}

li {
    position: relative;
    min-width: 10vmin;
    display: table-row;
    justify-content: center;
}
ol li {
    font-size: 4vmin;

}
ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: inherit;
    display: table-cell;
}

ul li:nth-child(2n) {
    background-color: black;
    color: white;
}

ul:nth-child(2n) li {
    background-color: black;
    color: white;
}

ul:nth-child(2n) li:nth-child(2n) {
    background-color: white;
    color: black;
}
/*Pieces div's styles*/
.K  {
    display: block;
    background: url("chess sprite.png") 0 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.p {
    display: block;
    background: url("chess sprite.png") 100px 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.B {
    display: block;
    background: url("chess sprite.png") 200px 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.N {
    display: block;
    background: url("chess sprite.png") 300px 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.R {
    display: block;
    background: url("chess sprite.png") 400px 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Q {
    display: block;
    background: url("chess sprite.png") 500px 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.white {
    background-position-y: 100px;
}

.black {
    background-position-y: 0;
}
/*Control element styles*/
.movementCross {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 3vmin;
    min-width: 50 vmin;
}

input[type='text'] {
    width: 4em;
    background-color: forestgreen;
    display: inline-block;
}

#typeOfMove {
    width: 1em;
}

.makeAmove {
    align-self: stretch;
}

 .moveCoordinates {
    display: inline-block !important;
 }

#hist {
    disabled;
    size: 6;
    width: 10vmin;
}

.lightenMove {
    filter: sepia(60%)
}
/*board marks styles*/
ol li {
    text-align: center;
    height: 1em;
}
ol::before {
    content: '0';
    visibility: hidden;
    font-size: 3em;
    font-family: "Baskerville Old Face", serif;
}

ul::before {
    display: flex;
    align-items: center;
    counter-increment: number -1;
    content: counter(number) " ";
    font-size: 3em;
    font-family: "Baskerville Old Face", serif;
}